table {
    color: #435369;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

tr {
    background-color: #E3EAF3;
}

tr:nth-child(2n) {
    background: #F2F6FA;
}

td {
    padding: 15px 20px;
}

td:first-child {
    text-transform: capitalize;
}

th {
    background-color: #E8EDF4;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 11px;
    padding: 6px 20px;
}

tr:hover {
    background-color: #E2E5E9;
}
