main {
  display: grid;
  grid-template-areas: 
    "header header header header"
    "section section . aside";
}

body {
  padding: 30px;
}

header {
  background: lightblue;
}

section {
  background: lightgreen;
  float: left;
}

article {
  background: white;
  margin: 0 0 1rem 0;
}

aside {
  background: pink;
  width: 25%;
  float: right;
}

header,
article,
section,
.module {
  padding: 1rem;
}